*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.product-card{
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfddfd;
    margin: 50px auto;
    background: #fafafa;
}
.badge{
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}
.product-tumb img{
    max-width: 100%;
    max-height: 100%;
}
.product-details{
    padding: 30px;
}
.product-category{
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}
.product-details h4 a{
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}
.product-details p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: rgba(126, 126, 126, 0.6);
}
.product-bottom-details{
    overflow: hidden;
    border-top: 1px solid #eeee;
    padding-top: 20px;
}
.product-price{
    font-size: 30px;
    color: red;
    font-weight: 600;
    margin-left: 10px;
}
.count-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
.button-finalizar{
    font-size: 1.0rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(252, 248, 233, 0.795);
    width: 140px;
    height: 50px;
  
  }